@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/productcard.css")


<div class="container text-center my-3">
    <h2 class="font-weight-light">Fremhævede Annoncer</h2>
    <div class="row mx-auto my-auto justify-content-center">
        <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="col">
                        <div class="card">
                            <div class="image-box">
                                <img src="https://images-na.ssl-images-amazon.com/images/I/41mQtYQUzmL.jpg" class="card-img-top image" alt="...">
                            </div>
                            <div class="card-body">
                                <p class="price-tag">420 kr.</p>
                                <h5 class="card-title">HP Pavilion Gaming 10th Gen Intel Core i5 Processor</h5>
                                <p class="card-subtitle">hovedstaden</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col">
                        <div class="card">
                            <div class="image-box">
                                <img src="https://images-na.ssl-images-amazon.com/images/I/41mQtYQUzmL.jpg" class="card-img-top image" alt="...">
                            </div>
                            <div class="card-body">
                                <p class="price-tag">420 kr.</p>
                                <h5 class="card-title">HP Pavilion Gaming 10th Gen Intel Core i5 Processor</h5>
                                <p class="card-subtitle">hovedstaden</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col">
                        <div class="card">
                            <div class="image-box">
                                <img src="https://images-na.ssl-images-amazon.com/images/I/41mQtYQUzmL.jpg" class="card-img-top image" alt="...">
                            </div>
                            <div class="card-body">
                                <p class="price-tag">420 kr.</p>
                                <h5 class="card-title">HP Pavilion Gaming 10th Gen Intel Core i5 Processor</h5>
                                <p class="card-subtitle">hovedstaden</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col">
                        <div class="card">
                            <div class="image-box">
                                <img src="https://images-na.ssl-images-amazon.com/images/I/41mQtYQUzmL.jpg" class="card-img-top image" alt="...">
                            </div>
                            <div class="card-body">
                                <p class="price-tag">420 kr.</p>
                                <h5 class="card-title">HP Pavilion Gaming 10th Gen Intel Core i5 Processor</h5>
                                <p class="card-subtitle">hovedstaden</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-3">
                        <div class="col">
                            <div class="card">
                                <div class="image-box">
                                    <img src="https://images-na.ssl-images-amazon.com/images/I/41mQtYQUzmL.jpg" class="card-img-top image" alt="...">
                                </div>
                                <div class="card-body">
                                    <p class="price-tag">420 kr.</p>
                                    <h5 class="card-title">HP Pavilion Gaming 10th Gen Intel Core i5 Processor</h5>
                                    <p class="card-subtitle">hovedstaden</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col">
                        <div class="card">
                            <div class="image-box">
                                <img src="https://images-na.ssl-images-amazon.com/images/I/41mQtYQUzmL.jpg" class="card-img-top image" alt="...">
                            </div>
                            <div class="card-body">
                                <p class="price-tag">420 kr.</p>
                                <h5 class="card-title">HP Pavilion Gaming 10th Gen Intel Core i5 Processor</h5>
                                <p class="card-subtitle">hovedstaden</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev bg-black w-aut" href="#recipeCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next bg-black w-aut" href="#recipeCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>
    </div>

</div>

@Scripts.Render("~/Scripts/index.js")