@{
    ViewBag.Title = "Page";
}
@Styles.Render("~/Content/product-page.css")

<!-- product view -->
<div class="container p-0 mt-5 mb-5">
    <div class="row row-cols-1 row-cols-lg-4 row-cols-md-2 g-4">
        <!-- first card left -->
        <div class="col">
            <div class="card">
                <div class="image-box">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/41mQtYQUzmL.jpg" class="card-img-top image" alt="...">
                </div>
                <div class="card-body">
                    <p class="price-tag">420 kr.</p>
                    <h5 class="card-title">HP Pavilion Gaming 10th Gen Intel Core i5 Processor</h5>
                    <p class="card-subtitle">hovedstaden</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="image-box">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/51ogrgGK%2B9L._SX679_.jpg" class="card-img-top image" alt="...">
                </div>
                <div class="card-body">
                    <p class="price-tag">420 kr.</p>
                    <h5 class="card-title">Lenovo 300 Wireless Compact Mouse</h5>
                    <p class="card-subtitle">hovedstaden</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="image-box">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/71EmR0GC7YL._SX679_.jpg" class="card-img-top image" alt="...">
                </div>
                <div class="card-body">
                    <p class="price-tag">420 kr.</p>
                    <h5 class="card-title">Kingston 250GB A2000 M.2 2280 Nvme Internal SSD</h5>
                    <p class="card-subtitle">hovedstaden</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="image-box">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/712qAHkMCmL._SX679_.jpg" class="card-img-top image" alt="...">
                </div>
                <div class="card-body">
                    <p class="price-tag">420 kr.</p>
                    <h5 class="card-title">XPG S40G 512GB RGB 3D NAND PCIe Gen3x4 NVMe</h5>'
                    <p class="card-subtitle">hovedstaden</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="image-box">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/41mQtYQUzmL.jpg" class="card-img-top image" alt="...">
                </div>
                <div class="card-body">
                    <p class="price-tag">420 kr.</p>
                    <h5 class="card-title">HP Pavilion Gaming 10th Gen Intel Core i5 Processor</h5>
                    <p class="card-subtitle">hovedstaden</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="image-box">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/51ogrgGK%2B9L._SX679_.jpg" class="card-img-top image" alt="...">
                </div>
                <div class="card-body">
                    <p class="price-tag">420 kr.</p>
                    <h5 class="card-title">Lenovo 300 Wireless Compact Mouse</h5>
                    <p class="card-subtitle">hovedstaden</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="image-box">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/51ogrgGK%2B9L._SX679_.jpg" class="card-img-top image" alt="...">
                </div>
                <div class="card-body">
                    <p class="price-tag">420 kr.</p>
                    <h5 class="card-title">Lenovo 300 Wireless Compact Mouse</h5>
                    <p class="card-subtitle">hovedstaden</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="image-box">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/51ogrgGK%2B9L._SX679_.jpg" class="card-img-top image" alt="...">
                </div>
                <div class="card-body">
                    <p class="price-tag">420 kr.</p>
                    <h5 class="card-title">Lenovo 300 Wireless Compact Mouse</h5>
                    <p class="card-subtitle">hovedstaden</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="image-box">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/51ogrgGK%2B9L._SX679_.jpg" class="card-img-top image" alt="...">
                </div>
                <div class="card-body">
                    <p class="price-tag">420 kr.</p>
                    <h5 class="card-title">Lenovo 300 Wireless Compact Mouse</h5>
                    <p class="card-subtitle">hovedstaden</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="image-box">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/51ogrgGK%2B9L._SX679_.jpg" class="card-img-top image" alt="...">
                </div>
                <div class="card-body">
                    <p class="price-tag">420 kr.</p>
                    <h5 class="card-title">Lenovo 300 Wireless Compact Mouse</h5>
                    <p class="card-subtitle">hovedstaden</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="image-box">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/51ogrgGK%2B9L._SX679_.jpg" class="card-img-top image" alt="...">
                </div>
                <div class="card-body">
                    <p class="price-tag">420 kr.</p>
                    <h5 class="card-title">Lenovo 300 Wireless Compact Mouse</h5>
                    <p class="card-subtitle">hovedstaden</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="image-box">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/51ogrgGK%2B9L._SX679_.jpg" class="card-img-top image" alt="...">
                </div>
                <div class="card-body">
                    <p class="price-tag">420 kr.</p>
                    <h5 class="card-title">Lenovo 300 Wireless Compact Mouse</h5>
                    <p class="card-subtitle">hovedstaden</p>
                </div>
            </div>
        </div>
    </div>
</div>