ul {
    width: 100%;
    max-width: 100%;
    height: 60px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: orange;
    text-align: center;
    font-size: 25px;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    font-size: 30px;
    background-image: url(https://media.giphy.com/media/koyjGfQHIZQKk/giphy.gif);
  }

h1 {
    color: rgb(255, 255, 255);
    font-size: 80px;
    text-align: center;
    animation-name: RGB;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes RGB {
    0%   {color: red;}
    25%  {color: yellow;}
    50%  {color: blue;}
    100% {color: green;}
  }